@import './../../../variables';
div.home-container{
  position: relative;
  div.side-wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: $sidebarWidth;
    border-right: 1px solid #8686a1;
    height: 100vh;
    nav.sidebar{
      &>div.header{
        display: flex;
        justify-content: center;
        align-items: center;
        img.logo-side{
          max-height: 100%;
        }
      }
      div.nav-bord{
        width: 60%;
        border-top: 1px solid #8686a1;
      }
      div.nav-elements-wrapper{
        width: 90%;
        ul{
          padding: 0;
          list-style: none;
          li{
            a{
              text-decoration: none;
              color: #8686a1;
              font-size: 1.5rem;
              svg{
                padding: 10px;
                border: 1px solid #8686a1;
                background-color: #8686a1;
                color: rgb(98, 98, 119);
                border-radius: 25%;
                max-height: 50px;
              }
              &:hover{
                /* font-weight: bold; */
                color: white;
                cursor: pointer;
                svg{
                  border: 1px solid #e08142;
                  background-color: #e08142;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  div.content-wrapper{
    margin-left: $sidebarWidth;
    main.main-container{

    }
  }
  div.aside-wrapper{
    aside.account-wrapper{

    }
  }
}


div.header{
  height: $navbarLogoHeight;
}
.active{
  margin: 5px;
  background-color: #2c2899;
  border-radius: 5rem;
}
