div.swap-container {
  width: 650px;
  height: 650px;
  background-image: url(./../../../assets/imgs/sfondo-swap2.png);
  background-size: contain;
  border-radius: 2rem;
  /* @media screen and (max-width: 960px) {
    width: 100%;
    height: 100%;
  } */
}
@media screen and (max-width: 1349px) and (min-width: 1130px) {
  div.swap-container {
    width: 433.3333333333px;
    height: 433.3333333333px;
  }
}
@media screen and (max-width: 1129px) and (min-width: 500px) {
  div.swap-container {
    width: 325px;
    height: 325px;
  }
}
div.swap-container > div.row {
  height: 100%;
}
div.swap-container > div.row div.swap-wrapper {
  /* border: 1px solid black; */
  border-radius: 2rem;
}
div.swap-container > div.row div.swap-wrapper > div.row {
  height: 100%;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top {
  height: 16%;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row {
  display: flex;
  align-items: center;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row > div.svg-cont a {
  color: white !important;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row > div.svg-cont a:hover svg {
  padding: 10px;
  border: 1px solid #8686a1;
  background-color: #e08142;
  border-radius: 25%;
  max-height: 50px;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row > div.svg-cont a:hover svg path {
  fill: white !important;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row > div.svg-cont a svg {
  padding: 10px;
  border: 1px solid #8686a1;
  background-color: #8686a1;
  border-radius: 25%;
  max-height: 50px;
  transition: background-color 0.5s ease;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row > div.svg-cont a svg path {
  fill: #626277 !important;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-top > div.row h5 {
  color: #8686a1;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from {
  height: 33.5%;
  display: flex;
  justify-content: center;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row {
  /* border: 1px solid black; */
  border-radius: 2rem;
  height: 100%;
  width: 99%;
  /* background-color: #281e49; */
  background-color: #1f1739;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row span {
  color: #8686a1;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row div.group {
  position: relative;
  /* margin-bottom:45px; */
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row div.group input {
  font-size: 3rem;
  color: #8686a1;
  /* padding: 10px 0 10px 5px; */
  display: block;
  width: 100px;
  border: none;
  border: none;
  /* border-bottom:1px solid #757575; */
  background-color: transparent;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row div.group input:focus {
  outline: none;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row select.select-from {
  background-color: #150f26;
  border: none;
  border-radius: 3rem;
  color: #8686a1;
  width: 70%;
  height: 100%;
  height: 75px;
}
@media screen and (max-width: 960px) {
  div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row select.select-from {
    border-radius: 1.5rem;
    height: 40px;
  }
}
@media screen and (max-width: 1349px) {
  div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row select.select-from {
    border-radius: 1.5rem;
    height: 40px;
  }
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-from > div.row select.select-from > option {
  text-align: center;
  background-color: #150f26 !important;
  transition: background-color 0.3s ease;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-to {
  height: 33.5%;
  display: flex;
  justify-content: center;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row {
  /* border: 1px solid black; */
  border-radius: 2rem;
  height: 100%;
  width: 99%;
  background-color: #1f1739;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row span.outputTo {
  color: #8686a1;
  font-size: 2rem;
}
@media screen and (max-width: 1399px) {
  div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row span.outputTo {
    font-size: 1.5rem;
  }
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row select.select-to {
  background-color: #150f26;
  border: none;
  border-radius: 3rem;
  color: #8686a1;
  width: 70%;
  height: 75px;
}
@media screen and (max-width: 960px) {
  div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row select.select-to {
    border-radius: 1.5rem;
    height: 40px;
  }
}
@media screen and (max-width: 1349px) {
  div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row select.select-to {
    border-radius: 1.5rem;
    height: 40px;
  }
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-to > div.row select.select-to > option {
  text-align: center;
  background-color: #150f26 !important;
  transition: background-color 0.3s ease;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-btn {
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-btn > button {
  height: 90%;
  border-radius: 2rem;
  background-color: rgba(224, 129, 66, 0.3137254902);
  border: none;
  transition: background-color 0.5s ease-in-out;
}
div.swap-container > div.row div.swap-wrapper > div.row div.swap-btn > button:hover {
  background-color: #e08142;
}

label {
  color: #8686a1;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #8686a1;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #8686a1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 0%;
}

.bar:after {
  right: 75%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 20%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}/*# sourceMappingURL=swap.component.css.map */