<nav class="navbar">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/imgs/MaterialSwap-logo3.png" alt="Logo" class="d-inline-block align-text-top">
    </a>
    <button type="button" class="btn btn-lg">Launch App</button>
  </div>
</nav>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 hero-img-container">
        <img class="img-fluid" src="./../../../assets/imgs/logo-hero-white.png" alt="material-swap">
        <h3>Swap token, trade NFT and build your own finance!</h3>
      </div>
      <div class="col-12 col-sm-6 model-container">
        <app-model-eth></app-model-eth>
      </div>
      <div class="d-none d-sm-block col-12 blurred"></div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <p>ciao</p>
  </div>
</main>
