<nav class="navbar">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/imgs/MaterialSwap-logo3.png" alt="Logo" class="d-inline-block align-text-top">
    </a>
    <button type="button" class="btn btn-lg" [routerLink]="['../home']">Launch App</button>
  </div>
</nav>
<main>
  <div class="container-fluid hero-container">
    <div class="row hero">
      <div class="col-12 col-lg-6 hero-img-container">
        <img class="img-fluid" src="./../../../assets/imgs/logo-hero-white.png" alt="material-swap">
        <h3>Swap token, trade NFT and build your own finance!</h3>
      </div>
      <div class="col-12 col-lg-6 model-container">
        <app-model-eth class="w-100"></app-model-eth>
      </div>
      <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
      <div class="d-none d-lg-block col-12 blurred"></div>
    </div>
  </div>
  <div class="container-fluid my-5 content-container">
    <div class="row row-content">
      <div class="finance col-lg-6 col-12 d-flex flex-column justify-content-center">
        <img src="./../../../assets/imgs/Embrace the financial revolution.png" alt="cap-1" class="img-fluid mx-lg-5">
        <p class="mx-lg-5">Provide liquidity, withdraw, swap, and make profit from this. No intermediaries, just you and
          your assets. <br>
          That's what we call DeFi.</p>
      </div>
      <div class="finance-img col-lg-6 col-12">
        <img class="img-fluid" src="./../../../assets/imgs/build-finance.png" alt="market">
      </div>
      <div class="nft-img col-lg-6 col-12">
        <img src="./../../../assets/imgs/create-nft.png" alt="nft" class="img-fluid">
      </div>
      <div class="nft col-lg-6 col-12 d-flex flex-column justify-content-center">
        <img src="./../../../assets/imgs/collect trade create nft.png" alt="cap-1" class="img-fluid mx-lg-5">
        <p class="mx-lg-5">
          NFTs are redefining the concept of digital ownership. It's not just about owning a file, but having public
          proof that you are the legitimate owner of that item, giving it intrinsic value.
        </p>
      </div>
      <div class="strategy col-lg-6 col-12 d-flex flex-column justify-content-center mb-5">
        <img src="./../../../assets/imgs/build strategy.png" alt="cap-1" class="img-fluid mx-lg-5">
        <p class="mx-lg-5">
          Choose whether you want to build your unique investment strategy or follow in the footsteps of the most
          skilled traders.
        </p>
      </div>
      <div class="strategy-img col-lg-6 col-12">
        <img class="img-fluid" src="./../../../assets/imgs/build-strategy-card.png" alt="market">
      </div>
    </div>
  </div>
</main>
<footer class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-12 d-flex justify-content-center align-items-start pt-md-5">
        <img src="./../../../assets/imgs/MaterialSwap-logo3.png" alt="logo" class="img-fluid px-0 logo-footer-img">
      </div>
      <div class="col-md-3 col-12 pt-md-5">
        <h5>Services</h5>
        <ul class="px-0">
          <li>Swap</li>
          <li>Create NFT</li>
          <li>Manage Portfolio</li>
        </ul>
      </div>
      <div class="col-md-3 col-12 pt-md-5">
        <h5>Developers</h5>
        <ul class="px-0">
          <li>GitHub</li>
        </ul>
      </div>
      <div class="col-md-3 col-12 pt-md-5">
        <h5>Contacts</h5>
        <ul class="px-0">
          <li><a href="mailto:alessandro.rondolini.96@gmail.com">Email me</a></li>
          <li><a href="https://www.linkedin.com/in/alessandro-rondolini/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
