@import "./../../../variables";
nav {
  /* background-color: #5753c4; */
  background-color: #38359bcb;
  background-color: transparent;
  /* background-color: $backVioletBlack; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  div.container-fluid {
    a.navbar-brand {
      img {
        height: $navbarLogoHeight;
        @media screen and (max-width: 575px) {
          height: $navbarLogoHeight/2;
        }
      }
    }
    button {
      /* background-color: #44a6c2; */
      box-shadow: 0px 10px 14px -7px #ca5737;
      background: linear-gradient(to bottom, #e08142 5%, #cf6537 100%);
      background-color: #dd852d;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      /* padding: 13px 32px; */
      text-decoration: none;
      text-shadow: 0px 1px 0px #ca5837;
      @media screen and (max-width: 575px) {
        font-size: 15px;
        font-weight: lighter;
      }
      &:hover {
        background: linear-gradient(to bottom, #cf6537 5%, #dd852d 100%);
        background-color: #cf6537;
      }
    }
  }
}
main {
  border-bottom: 1px solid #8686a1;
  background-color: #38359b;
  /* background-color: $backVioletBlack; */
  div.hero-container {
    height: 100vh;
    /* @media screen and (max-width: 575px){
      height: 100%;
    } */
    div.hero {
      //test
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      background: linear-gradient(
        315deg,
        #65005e 3%,
        #70b2f3 38%,
        #1ebdb2 68%,
        #38359b 98%
      );
      animation: gradient 15s ease infinite;
      background-size: 400% 400%;
      background-attachment: fixed;
      .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 1000% 1000% 0 0;
        position: absolute;
        width: 200%;
        height: 20em;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        bottom: 0px;
        left: 0;
        z-index: 0;
      }

      .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.6;
      }

      .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.7;
      }
      //fine test
      padding-top: $navbarLogoHeight + 16px + 10px;
      /* background-image: url(./../../../assets/imgs/sfondo-modello-eth.png);
      background-size:cover;
      background-position:center; */
      height: 100%;
      /*       @media screen and (max-width: 575px){
        align-items: start;
      } */

      div.hero-img-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        z-index: 1;

        @media screen and (min-width: 992px) {
          justify-content: end;
          align-items: center;
          padding-bottom: 100px;
        }
        @media screen and (max-width: 574px) {
          order: 2;
          justify-content: center;
        }
        @media screen and (max-width: 991px) and (min-width: 575px) {
          order: 2;
          justify-content: start;
        }

        h3 {
          font-family: "Roboto", sans-serif;
          color: white;
          align-self: flex-start;
        }
      }
      div.model-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        @media screen and (max-width: 575px) {
          order: 1;
        }

        @media screen and (min-width: 991px) {
          height: 95%;
        }
        p {
          color: white;
        }
      }
      div.blurred {
        backdrop-filter: blur(5px);
        height: 5%;
        align-self: flex-end;
      }
    }
  }
  div.content-container {
    div.row-content {
      div.finance,
      div.nft,
      div.strategy {
        margin-bottom: 10px;
        p {
          /* color: #ea8d8d; */
          color: #7675a1;
          font-size: 2rem;
          font-family: "Roboto", sans-serif;
          font-weight: 100;
          @media screen and (max-width: 575px) {
            font-size: 1.2rem;
          }
        }
      }
      div.finance-img,
      div.nft-img,
      div.strategy-img {
        margin-bottom: 100px;
        img {
          border-radius: 2rem;
        }
      }
      div.nft-img {
        @media screen and (max-width: 575px) {
          order: 2;
        }
      }
      div.nft {
        @media screen and (max-width: 575px) {
          order: 1;
        }
      }
      div.strategy {
        @media screen and (max-width: 575px) {
          order: 3;
        }
      }
      div.strategy-img {
        @media screen and (max-width: 575px) {
          order: 4;
        }
      }
    }
  }
}
footer {
  background-color: #2f2c7e;
  img.logo-footer-img {
    height: 50%;
    @media screen and (max-width: 991px) {
      height: 50%;
    }
    @media screen and (max-width: 767px) {
      align-self: center;
    }
  }
  h5 {
    font-family: "Roboto", sans-serif;
    color: #dd852d;
    font-weight: bold;
    @media screen and (max-width: 991px) {
      font-size: 1.5rem;
    }
  }
  ul {
    list-style-type: none;
    li {
      font-family: "Roboto", sans-serif;
      color: #8686a1;
      @media screen and (max-width: 991px) {
        font-size: 1.5rem;
      }
      a {
        color: #8686a1;
        text-decoration: none;
      }
    }
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
