/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
//font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//variables
@import '_variables';

body{
  background-color: #38359b;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #38359b;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #e08142;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #cf6537;  /* creates padding around scroll thumb */
}


