<div class="container-fluid">
  <div class="row justify-content-center">
    <div #form class="col-12 col-lg-8 form-container">
      <div class="row justify-content-center h-100">
        <div class="col-12 d-flex justify-content-center">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Login</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">SignUp</label>
          </div>
        </div>

        <div class="col-12 d-flex flex-column justify-content-around h-100">
          <div class="info-wrapper">
            <p>First: Connect your wallet</p>
            <p>Second: Choose you password</p>
            <p>Third: accept the store your public wallet address via blockchain signature with Metamask</p>
          </div>
          <form [formGroup]="formRegister" (ngSubmit)="register()" class="d-flex flex-column justify-content-around align-items-center">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                formControlName="publicKey"
              >
              <button class="btn btn-outline-secondary" type="button" id="button-addon1">Connect Metamask</button>
            </div>
            <div class="input-group input-group-lg">
              <input
                type="password"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg"
                formControlName="password"
              >
              <button class="input-group-text btn btn-outline-secondary" id="inputGroup-sizing-lg" disabled>Password</button>
            </div>
            <div class="btn-form-wrapper">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
