<div #pageContainer class="container-fluid page-container">
  <div class="row">

    <div #strategyInfos class="col-12 col-xxl-5 strategy-infos">
      <h5 class="title my-3">Your strategies</h5>
      <h6 class="strategy-quantities mb-5">{{strategies.length}}</h6>
      <h5 class="mb-2">Overview</h5>

      <select (change)="onChangeStrategyTarget($event)" class="form-select" aria-label="Default select example">
        <ng-container *ngFor="let strategy of strategies">
          <option value="{{strategy.id}}">{{strategy.name}}</option>
        </ng-container>
      </select>

      <div class="chart-container">
        <div class="chart-wrapper">
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>

        </div>
      </div>
    </div>

    <div #actionStrategy class="col-12 col-xxl-5 actionStrategy">
      <div class="row">
        <div class="col-12">
          <h5>Create new strategy</h5>
        </div>
        <div class="col-12">
          <form [formGroup]="formStrategy" (submit)="postStrategy()">

            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" formControlName="name" placeholder="Your strategy">
              <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            </div>

            <div class="col-12 mb-3">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="start" ngbDatepicker
                  #d="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">Pick
                  date</button>
              </div>
            </div>

            <div class="input-group input-group-sm mb-3">
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" formControlName="amount">
              <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
            </div>

            <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                formControlName="simulation">
              <label class="form-check-label" for="flexSwitchCheckDefault">Only for simulation?</label>
            </div>


            <div class="row w-100 flex-row">
              <div *ngFor="let asset of this.allAssets; let i = index" class="col-6">
                <div class="row flex-row">
                  <div class="col-4 col-xxl-6 d-flex justify-content-between align-items-center">
                    <img src="{{asset.imgUrl}}" class="img-asset-label" alt="">
                    <label for="customRange{{ asset.name }}" class="form-label text-light mb-0">{{ asset.name }}</label>
                  </div>
                  <div class="col-8 col-xxl-6">
                    <input (change)="onTextChange($event, asset.name)" [value]="0"
                      class="customRange{{ asset.name }} img-fluid mini-form" step="0.01" type="number"
                      id="customRange{{ asset.name }}_i">
                  </div>
                </div>
                <input (change)="onRangeChange($event, asset.name)" type="range" class="form-range" min="0" max="100"
                  step="0.01" [value]="0" id="customRange{{ asset.name }}">
              </div>
            </div>

            <button class="btn btn-success btn-form-submit mb-3" type="submit">Create</button>
            <div class="alert alert-danger" role="alert" *ngIf="errorPercentage">
              {{errorText}}
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>
