<div #pageContainer class="container-fluid page-container">
  <div class="row">

    <div #strategyInfos class="col-12 col-xxl-6 strategy-infos">
      <h5>Your strategies</h5>
      <h6 class="strategy-quantities">{{strategies.length}}</h6>
      <h5>Performance</h5>
      <div class="chart-container">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="width: 150px;" checked>
          <label class="btn btn-outline-primary" for="btnradio1" style="width: 150px;">Summary</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" style="width: 150px;">
          <label class="btn btn-outline-primary" for="btnradio3" style="width: 150px;">Active Strategies</label>
        </div>
        <div class="chart-wrapper">
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>

          </div>
        </div>
      </div>

      <div #actionStrategy class="col-12 col-xxl-6 actionStrategy">
      <div class="row">
        <div class="col-12">
          <h5>Create new strategy</h5>
        </div>
        <div class="col-12">
          <form [formGroup]="formStrategy" (submit)="try()">

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" formControlName="name">
            </div>

            <div class="col-12">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  formControlName="start"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">Pick date</button>
              </div>
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" formControlName="amount">
            </div>
            <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="onDateNavigate($event)"></ngb-datepicker> -->

            <button class="btn stn-success" type="submit">try</button>

            <div *ngFor="let asset of this.allAssets">
              <label for="customRange{{ asset.name }}" class="form-label">{{ asset.name }}</label>
              <input type="range" class="form-range" min="0" max="100" id="customRange{{ asset.name }}">
            </div>
            <!-- <div class="range-container" *ngFor="let asset of this.allAssets; let i = index">
              <label for="customRange{{ i }}" class="form-label">{{ asset.name }}</label>
              <input type="range" class="form-range" min="0" max="100" [formControlName]="'assetAllocation_' + i" id="customRange{{ i }}">
            </div> -->

          </form>
        </div>
      </div>
    </div>

    </div>

    <!-- <div #actionStrategy class="col-12 col-xxl-6 actionStrategy">
      <div class="row">
        <div class="col-6 col-xxl-10 create-wrapper">
          <button type="button" class="btn btn-secondary btn-lg">Create Strategy</button>
        </div>
        <div class="col-6 col-xxl-10 edit-wrapper">
          <button type="button" class="btn btn-secondary btn-lg">Edit Strategy</button>
        </div>
      </div>
    </div> -->

  </div>
