@import "./../../../variables";

div.page-container {
  @media screen and (max-width: 1399px) {
    overflow-y: scroll;
  }
  div.row {
    justify-content: space-around;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
    div.strategy-infos {
      background-image: url(./../../../assets/imgs/chart-back-pie.png);
      box-shadow: -5px 5px 50px -11px #000000;
      background-position: center;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      h5 {
        color: $greyShadeText;
        font-size: 2rem;
      }
      h5.title {
        color: #e08142;
      }
      h6.strategy-quantities {
        font-size: 3rem;
        color: whitesmoke;
      }
      select {
        color: whitesmoke;
        background-color: $backVioletBlack;
        border: 1px solid #be6dab;
        width: 50%;
        text-align: center;
      }
      button.btn-info-str {
        color: #be6dab;
        border: 1px solid #be6dab;
        width: 30%;
        max-height: 50px;
        justify-content: center;
        span {
          flex-grow: 1;
        }
        svg {
          height: 20px;
        }
      }
      div.chart-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div.chart-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
    div.actionStrategy {
      border-radius: 2rem;
      background-image: url(./../../../assets/imgs/chart-back.png);
      background-position: center;
      background-size: cover;
      max-height: 100%;
      @media screen and (min-width: 961px) {
        box-shadow: -5px 5px 50px -11px #000000;
      }
      @media screen and (max-width: 1399px) {
        margin-top: 50px;
      }
      div.row {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 !important;
        @media screen and (max-width: 1440px) {
          flex-direction: row;
        }
        h5 {
          color: #e08142;
          font-size: 2rem;
          text-align: center;
        }
        button.btn-form-submit {
          background-color: $backVioletBlack;
          color: white;
          font-weight: bold;
          border: 1px solid #be6dab;
          border-radius: 2rem;
          width: 30%;
          &:hover {
            background-color: #be6dab5a;
          }
        }
        input.form-control {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          color: white;
          &::placeholder {
            color: $greyShadeText;
          }
        }
        input.mini-form {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          color: white;
          border-radius: 1rem;
        }
        span.input-group-text,
        button.bi-calendar3 {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          background-color: #be6dab5a;
          color: white;
          width: 100px;
          text-align: start;
          padding-left: 5px;
        }
        img.img-asset-label {
          max-height: 50px;
          border-radius: 50%;
          @media screen and (max-width: 1440px) {
            max-height: 30px;
          }
        }
        label.form-label {
          @media screen and (max-width: 1440px) {
            display: none;
          }
        }
        label.form-check-label {
          color: $greyShadeText;
        }
        .form-check-input[type="checkbox"]:checked {
          background-color: #be6dab;
          border-color: #be6dab;
        }
        div.create-wrapper,
        div.edit-wrapper {
          background-image: url(./../../../assets/imgs/chart-back.png);
          background-position: center;
          border: 1px solid white;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          height: 40%;
          align-items: center;
          button {
            height: 30%;
            width: 50%;
          }
        }
      }
    }
  }
}
div.alert-danger {
  background-color: #c60298;
  border: none;
  border-left: 5px solid #be6dab;
  color: white;
  font-weight: bold;
  font-size: larger;
}
::ng-deep div.ngb-dp-month,
::ng-deep div.ngb-dp-header,
::ng-deep div.ngb-dp-weekdays {
  background-color: #be6dab84;
}
::ng-deep div.ngb-dp-weekday {
  color: #e08142;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #be6dab;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #be6dab84;
}
