@import "./../../../variables";

div.page-container {
  overflow-y: scroll;
  div.row{
    justify-content: space-between;
    div.candle-chart-wrapper {
      background-image: url(./../../../assets/imgs/chart-back.png);
      background-size: cover;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      select{
        color: whitesmoke;
        background-color: $backVioletBlack;
        border: 1px solid #be6dab;
        width: 50%;
        text-align: center;
        &:hover{
          cursor: pointer;
        }
      }
    }
    div.pie-chart-wrapper{
      background-image: url(./../../../assets/imgs/chart-back.png);
      background-size: cover;
      background-position: center;
      border-radius: 2rem;
      h5{
        color: $greyShadeText;
        text-align: center;
        font-size: 2rem;
      }
    }
    div.line-chart-wrapper{
      background-image: url(./../../../assets/imgs/chart-back.png);
      background-size: cover;
      background-position: center;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h5{
        align-self: flex-start;
        margin-left: 30px;
        color: $greyShadeText;
      }
      div.select-img{
        button.btn-select-asset {
          background-color: $backVioletBlack;
          color: white;
          font-weight: bold;
          border: 1px solid #be6dab;
          align-self: center;
          &:hover{
            background-color: #be6dab5a;
          }
        }
        div.container-choice {
          background-color: $backVioletBlack;
          button {
            a {
              display: flex;
              justify-content: space-between;
              align-items: center;
              img {
                height: 50px;
                border-radius: 50%;
              }
              span {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
