<div #pageContainer class="container-fluid">
  <div class="row">

    <div class="col-12">
      <select (change)="onChangeStrategyTarget($event)" class="form-select" aria-label="Default select example">
        <ng-container *ngFor="let strategy of strategies">
          <option value="{{strategy.id}}">{{strategy.name}}</option>
        </ng-container>
      </select>
    </div>

    <div class="col-12">
      <div #candleChartContainer id="chartdivcandle" class="" style="width: 100%; height: 400px;">
    </div>

  </div>
  <!-- <div class="row justify-content-between">

    <div class="col-12">
      <div #candleChartContainer class="candle-chart-container">
        <div class="candle-chart-wrapper">
          <app-chart class="h-100"></app-chart>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-6 mt-5">
      <div #pieChartContainer class="stats-container">
        <div class="stats-wrapper">
          <div id="chartDivPieTarget" style="width: 100%; height: 100%"></div>
          <div class="row">
            <div class="col-5">prova</div>
            <div class="col-5">prova</div>
            <div class="col-5">prova</div>
            <div class="col-5">prova</div>
            <div class="col-5">prova</div>
            <div class="col-5">prova</div>
          </div>
        </div>
      </div>
    </div>



  </div> -->
</div>
