<div #pageContainer class="container-fluid page-container">
  <div class="row">


    <div class="col-12 candle-chart-wrapper mb-5">
      <select (change)="onChangeStrategyTarget($event)" class="form-select mt-5" aria-label="Default select example">
        <ng-container *ngFor="let strategy of strategies">
          <option value="{{strategy.id}}">{{strategy.name}}</option>
        </ng-container>
      </select>

      <div #candleChartContainer id="chartdivcandle" class="mb-5" style="width: 100%; height: 600px;"></div>
    </div>

    <div class="col-12 col-xxl-5 pie-chart-wrapper mb-5">
      <h5 class="mt-3">Allocations</h5>
      <div id="chartdivpie" class="" style="width: 100%; height: 500px;"></div>
    </div>

    <div class="col-12 col-xxl-6 line-chart-wrapper mb-5">
      <div ngbDropdown class="d-inline-block select-img mt-3">
        <button type="button" class="btn btn-outline-primary btn-select-asset" id="dropdownBasic1" ngbDropdownToggle>
          Select asset
        </button>
        <div class="container-choice" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor=" let asset of targetAssetAllocations">
            <a (click)="getDataForLine(activeStrategy, asset.asset!.id, asset.asset!.name!)">
              <img class="img-fluid" src="{{asset.asset!.imgUrl}}" alt="img url">
              <span>{{asset.asset!.name}}</span>
            </a>
          </button>
        </div>
      </div>
      <h5>{{targetAssetName}}</h5>
      <div id="chartdivline" class="" style="width: 100%; height: 500px;"></div>
    </div>

  </div>
</div>
  <!-- <div class="row justify-content-between">

  <div class="col-12">
    <div #candleChartContainer class="candle-chart-container">
      <div class="candle-chart-wrapper">
        <app-chart class="h-100"></app-chart>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-6 mt-5">
    <div #pieChartContainer class="stats-container">
      <div class="stats-wrapper">
        <div id="chartDivPieTarget" style="width: 100%; height: 100%"></div>
        <div class="row">
          <div class="col-5">prova</div>
          <div class="col-5">prova</div>
          <div class="col-5">prova</div>
          <div class="col-5">prova</div>
          <div class="col-5">prova</div>
          <div class="col-5">prova</div>
        </div>
      </div>
    </div>
  </div>



</div> -->
