<div #adminPageContainer class="container-fluid page-container">
  <div class="row justify-content-around">
    <div class="col-12 col-xxl-5 add-asset-container mb-5">
      <h5 class="title-listing my-3">List New Asset</h5>
      <form [formGroup]="formAssetAndNetwork" (ngSubmit)="listAsset()" class="mb-3">

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Token Symbol</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" formControlName="name">
        </div>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Token Image URL</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" formControlName="imgUrl">
        </div>

        <select #selectNetwork (change)="onChangeNetworkToAdd($event)" class="form-select form-select-sm mb-3"
          aria-label="Small select example">
          <option value="" selected>Select Network</option>
          <ng-container *ngFor=" let network of networkAvailable">
            <option [value]="network">{{network}}</option>
          </ng-container>
        </select>



        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Token Address</span>
          <input (change)="onChangeTokenAddress($event)" type="text" class="form-control input-token-address"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <!-- formControlName="publicKey" -->
        </div>
        <div class="form-footer mb-3 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary btn-lg" (click)="createButtonNetwork()">Add address</button>
          <button type="submit" class="btn btn-secondary btn-lg ms-2">List asset</button>
          <button class="btn btn-lg clear ms-2" (click)="clear()">Clear</button>
        </div>
      </form>
      <div class="row">
        <div #networkCreation class="col-12 target-network-creation">

        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-5 edit-asset-container mb-5">
      <h5 class="title-listing my-3">Edit Asset</h5>
      <div #assetTargetReceiver class="asset-edit-container row">

      </div>
    </div>

    <div class="col-12 col-lg-11 pricing-container mb-5">
      <h5 class="my-3">Fetch pricing data</h5>
      <div class="row r1">
        <div class="date-wrapper order-2 order-lg-1 col-12 col-xxl-8 mt-3 mb-5 d-flex justify-content-center">
          <ngb-datepicker class="datepicker-item" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2"
            [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        <div class="select-wrapper order-1 order-lg-2 col-12 col-xxl-4 mt-3 mb-5">
          <!-- <select class="form-select form-select-sm mb-3" aria-label="Small select example">
            <option value="" selected>Select Network</option>
            <ng-container *ngFor=" let asset of allStoredAssets">
              <img src="{{asset.imgUrl}}" alt="img url">
              <option [value]="asset">
                {{asset.name}}
              </option>
            </ng-container>
          </select> -->
          <div ngbDropdown placement="top-end" class="d-inline-block mb-5">
            <button type="button" class="btn btn-outline-primary btn-select-asset" id="dropdownBasic1" ngbDropdownToggle>
              Select asset
            </button>
            <div class="container-choice" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor=" let asset of allStoredAssets">
                <a (click)="sendTokenToFetch(asset.name, asset.id!)">
                  <img class="img-fluid" src="{{asset.imgUrl}}" alt="img url">
                  <span>{{asset.name}}</span>
                </a>
              </button>
            </div>
          </div>

          <button class="btn btn-success btn-confirm-fetch" (click)="getPricingData()">Confirm date & asset</button>
        </div>
      </div>
    </div>
  </div>
</div>
