<div #adminPageContainer class="container-fluid page-container">
  <div class="row">
    <div class="col-12 col-xxl-6 add-asset-container">
      <form [formGroup]="formAssetAndNetwork"  (ngSubmit)="listAsset()">

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Token Symbol</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            formControlName="name"
            >
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Token Image URL</span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              formControlName="imgUrl"
            >
          </div>

            <select
              #selectNetwork
              (change)="onChangeNetworkToAdd($event)"
              class="form-select form-select-sm"
              aria-label="Small select example"
            >
              <option value="" selected>Select Network</option>
              <ng-container *ngFor=" let network of networkAvailable">
                <option [value]="network">{{network}}</option>
              </ng-container>
            </select>



        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Token Address</span>
          <input
            (change)="onChangeTokenAddress($event)"
            type="text"
            class="form-control input-token-address"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            >
            <!-- formControlName="publicKey" -->
        </div>
        <div class="row">
          <div #networkCreation class="col-12 target-network-creation">

          </div>
        </div>
        <div class="form-footer">
          <button type="button" class="btn btn-secondary btn-lg" (click)="createButtonNetwork()">Add Address</button>
          <button type="submit" class="btn btn-secondary btn-lg">List Asset</button>
        </div>
      </form>
    </div>
    <div class="col-12 col-xxl-6 add-pricing-container">

    </div>
  </div>
</div>
