div.page-container {
  div.row{
    div.add-asset-container{
      border: 1px solid white;
      border-radius: 2rem;
    }
    div.add-pricing-container{
      border: 1px solid white;
      border-radius: 2rem;

    }
  }
}
