@import "./../../../variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

div.page-container {
  font-family: "Roboto", sans-serif;
  @media screen and (max-height: 1270px) {
    overflow-y: scroll;
  }
  /* overflow-y: scroll; */
  div.row {
    justify-content: space-around;
    h5.title-listing {
      color: #e08142;
      align-self: center;
      font-size: 2rem;
    }
    div.add-asset-container {
      /* border: 1px solid white; */
      display: flex;
      flex-direction: column;
      /* background-image: url(./../../../assets/imgs/chart-back-pie.png);
      border-radius: 2rem;
      background-position: center;
      background-size: cover; */
      @include backgroundItem();
      height: 650px;
      max-height: 650px;
      /* align-items: center; */
      form {
        border-bottom: 1px solid #be6dab;
        input {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          color: white;
        }
        span {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          background-color: #be6dab5a;
          color: white;
        }
        select {
          font-size: 1rem;
          border: 1px solid #be6dab;
          background-color: $backVioletBlack;
          background-color: #be6dab5a;
          color: white;
          option {
            color: $backVioletBlack;
          }
        }
        button {
          background-color: $backVioletBlack;
          color: white;
          font-weight: bold;
          border: 1px solid #be6dab;
          border-radius: 2rem;
          &:hover {
            background-color: #be6dab5a;
          }
        }
        button.clear {
          background-color: #e08142;
          color: $backVioletBlack;
        }
      }
    }
    div.edit-asset-container {
      /* border: 1px solid white; */
      overflow-x: hidden;
      height: 650px;
      max-height: 650px;
      /* background-image: url(./../../../assets/imgs/chart-back-pie.png);
      border-radius: 2rem;
      background-position: center;
      background-size: cover; */
      @include backgroundItem();
      h5.title-listing {
        text-align: center;
        div.asset-edit-container {
          display: flex;
          justify-content: center;
          background-image: url(./../../../assets/imgs/chart-back-pie.png);
          background-position: center;
          background-size: cover;
          div.asset-wrapper {
            border-radius: 50%;
            div.asset-img {
              img {
                &:hover {
                  box-shadow: 0px 0px 28px 9px #be6dab;
                }
              }
            }
          }
        }
      }
    }
    div.pricing-container {
      /* border-radius: 2rem;
      background-image: url(./../../../assets/imgs/chart-back-pie.png);
      background-position: center;
      background-size: cover; */
      @include backgroundItem();
      h5 {
        color: #e08142;
        text-align: center;
        font-size: 2rem;
      }
      div.r1 {
        & > div.date-wrapper {
        }
        & > div.select-wrapper {
          display: flex;
          flex-direction: column;
          /* justify-content: end; */
          @media screen and (min-width: 992px) {
            flex-direction: column;
            justify-content: start;
          }
          button.btn-select-asset {
            background-color: $backVioletBlack;
            color: white;
            font-weight: bold;
            border: 1px solid #be6dab;
            border-radius: 2rem;
            &:hover{
              background-color: #be6dab5a;
            }
          }
          button.btn-confirm-fetch{
            font-weight: bold;
            border-radius: 2rem;
            background-color: #e08142;
            color: $backVioletBlack;
            border: #d56d27;
          }
          button {
            width: 100%;
          }
          div.container-choice {
            background-color: $backVioletBlack;
            button {
              a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                  height: 50px;
                  border-radius: 50%;
                }
                span {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  color: white;
}
.custom-day.focused {
  background-color: #be6dab;
}
.custom-day.range,
.custom-day:hover {
  background-color: #be6dab;
  color: $backVioletBlack;
  font-weight: bold;
}
.custom-day.faded {
  background-color: #be6dab5a;
}
::ng-deep div.ngb-dp-arrow > button {
  color: red;
}
::ng-deep div.ngb-dp-month-name {
  background-color: #be6dab5a;
  font-weight: bold;
  color: white;
}
::ng-deep div.ngb-dp-header,
::ng-deep div.ngb-dp-weekdays {
  background-color: #be6dab5a;
}
::ng-deep div.ngb-dp-weekday {
  color: #e08142;
}
::ng-deep div.ngb-dp-week {
  border-bottom: none;
}
::ng-deep div.ngb-dp-navigation-select form-select {
  background-color: #e08142 !important;
}
ngb-datepicker {
  border: 1px solid #be6dab;
}
/* ngb-dp-months */
::ng-deep div.ngb-dp-months {
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
  @media screen and (max-width: 800px) and (min-width: 750px) {
    flex-direction: row;
  }
}
/* .ngb-dp-month {
  width: 100%;
}
::ng-deep .ngb-dp-weekdays,
::ng-deep .ngb-dp-week {
  justify-content: space-evenly;
} */

/* div.toast{
  border: #be6dab 1px solid;
  div.toast-header{
    background-color: #be6dab5a !important;
  }
  div.toast-body{
    background-color: $backVioletBlack !important;
  }
} */

/* <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: inline-block; width: 33%;">
  <div class="toast-header">
    <strong class="me-auto">polygon</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 160px;">
    sdfsdf
  </div>
</div> */
